openapi: 3.1.0
info:
  title: kalshistatus.dev
  version: '2.0'
  description: |
    Public REST API for kalshistatus.dev — status snapshots, uptime windows,
    and latency history for the Kalshi prediction-market API.

    Unauthenticated. CORS-permissive (`Access-Control-Allow-Origin: *`).
    Cached at the edge with short TTLs.
  contact:
    name: '@UnderMyBed'
    url: https://github.com/UnderMyBed/kalshistatus
servers:
  - url: https://kalshistatus.dev

paths:
  /healthz:
    get:
      summary: Liveness probe
      responses:
        '200':
          description: Worker is alive
          content:
            application/json:
              schema:
                type: object
                required: [ok, ts]
                properties:
                  ok: { type: boolean }
                  ts: { type: integer, format: int64 }

  /api/status:
    get:
      summary: Latest status snapshot
      responses:
        '200':
          description: Current status snapshot
          content:
            application/json:
              schema:
                type: object
                required: [ts, status, exchange, endpoints, uptime]
                properties:
                  ts: { type: integer, format: int64 }
                  status:
                    type: string
                    enum: [operational, degraded, partial_outage, major_outage, unknown]
                  exchange:
                    type: object
                    required: [exchange_active, trading_active]
                    properties:
                      exchange_active: { type: boolean }
                      trading_active: { type: boolean }
                  endpoints:
                    type: array
                    items:
                      type: object
                      required: [name, url, method, status]
                      properties:
                        name: { type: string }
                        url: { type: string, format: uri }
                        method: { type: string }
                        latency_ms: { type: integer, nullable: true }
                        status: { type: string, enum: [up, down, degraded, unknown] }
                        http_status: { type: integer, nullable: true }
                        error: { type: string }
                  uptime:
                    type: object
                    properties:
                      24h:
                        $ref: '#/components/schemas/UptimeWindow'
                      7d:
                        $ref: '#/components/schemas/UptimeWindow'
                      30d:
                        $ref: '#/components/schemas/UptimeWindow'
        '404':
          description: No data available
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error: { type: string, enum: [no_data] }

  /api/history:
    get:
      summary: Latency time series for a given window
      parameters:
        - in: query
          name: window
          required: false
          schema: { type: string, enum: [24h, 7d, 30d], default: 24h }
          description: Time window for the series
      responses:
        '200':
          description: Latency series
          content:
            application/json:
              schema:
                type: object
                required: [window, series]
                properties:
                  window: { type: string }
                  series:
                    type: array
                    items:
                      type: object
                      required: [ts]
                      properties:
                        ts: { type: integer, format: int64 }
                        latency_ms: { type: integer, nullable: true }
        '400':
          description: Invalid window parameter
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error: { type: string, enum: [invalid_window] }

  /badge.svg:
    get:
      summary: SVG status badge for embedding
      responses:
        '200':
          description: SVG badge
          content:
            image/svg+xml: {}

  /api/version:
    get:
      summary: Deployed version + commit
      responses:
        '200':
          description: Version info
          content:
            application/json:
              schema:
                type: object
                required: [version, commit]
                properties:
                  version: { type: string }
                  commit: { type: string }

components:
  schemas:
    UptimeWindow:
      type: object
      required: [pct, ok_count, total_count]
      properties:
        pct: { type: number, description: 'Percentage uptime (0–100)' }
        ok_count: { type: integer }
        total_count: { type: integer }
