openapi: 3.1.0
info:
  title: kalshistatus.dev
  version: '1.0'
  description: |
    Public REST API for kalshistatus.dev — real-time status snapshots and
    historical data for the Kalshi prediction-market API.

    Unauthenticated. CORS-permissive (`Access-Control-Allow-Origin: *`).
    Cached at the edge with short TTLs.
  contact:
    name: '@UnderMyBed'
    url: https://github.com/UnderMyBed/kalshistatus
servers:
  - url: https://kalshistatus.dev

paths:
  /healthz:
    get:
      summary: Liveness probe
      responses:
        '200':
          description: Worker is alive
          content:
            application/json:
              schema:
                type: object
                required: [ok, ts]
                properties:
                  ok: { type: boolean }
                  ts: { type: integer, format: int64 }

  /api/status:
    get:
      summary: Latest snapshot (or snapshot at given timestamp)
      parameters:
        - in: query
          name: env
          schema: { type: string, enum: [prod, demo], default: prod }
        - in: query
          name: at
          required: false
          schema: { type: integer, format: int64 }
          description: Unix ms; returns the snapshot closest to this time within ±5 min.
      responses:
        '200': { $ref: '#/components/responses/Snapshot' }
        '404': { description: No snapshot in window }

  /api/history:
    get:
      summary: Recent snapshots, newest first
      parameters:
        - in: query
          name: env
          schema: { type: string, enum: [prod, demo], default: prod }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 1440, default: 60 }
      responses:
        '200':
          description: Array of snapshots
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Snapshot' }

  /api/changelog:
    get:
      summary: AI-summarized Kalshi changelog entries
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
      responses:
        '200':
          description: Recent summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [link, title, summary_ai, pub_date_ts]
                  properties:
                    link: { type: string, format: uri }
                    title: { type: string }
                    summary_ai: { type: string }
                    pub_date_ts: { type: integer, format: int64 }

  /api/version:
    get:
      summary: Deployed version + commit
      responses:
        '200':
          description: Version info
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version: { type: string }
                  commit: { type: string }

  /badge.svg:
    get:
      summary: SVG status badge for embedding
      parameters:
        - in: query
          name: env
          schema: { type: string, enum: [prod, demo], default: prod }
      responses:
        '200':
          description: SVG badge
          content:
            image/svg+xml: {}

  /feed.xml:
    get:
      summary: RSS 2.0 feed of changelog + incidents
      responses:
        '200':
          description: RSS XML
          content:
            application/rss+xml: {}

components:
  responses:
    Snapshot:
      description: Status snapshot
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Snapshot' }
  schemas:
    EndpointProbe:
      type: object
      required: [name, url, method, status, requires_auth]
      properties:
        name: { type: string }
        url: { type: string, format: uri }
        method: { type: string }
        latency_ms: { type: integer, nullable: true }
        status: { type: string, enum: [up, down, degraded, unknown] }
        http_status: { type: integer, nullable: true }
        requires_auth: { type: boolean }
        error: { type: string }
    RegionProbe:
      type: object
      required: [region, probed_at, endpoints]
      properties:
        region: { type: string, enum: [us-east, eu-west, asia] }
        probed_at: { type: integer, format: int64 }
        endpoints:
          type: array
          items: { $ref: '#/components/schemas/EndpointProbe' }
    ExchangeStatus:
      type: object
      required: [exchange_active, trading_active]
      properties:
        exchange_active: { type: boolean }
        trading_active: { type: boolean }
    WsSample:
      type: object
      required: [connected, tickers_received, sampled_at]
      properties:
        connected: { type: boolean }
        latency_ms: { type: integer, nullable: true }
        tickers_received: { type: integer }
        sampled_at: { type: integer, format: int64 }
        error: { type: string }
    Snapshot:
      type: object
      required: [ts, environment, status, exchange, endpoints, regions]
      properties:
        ts: { type: integer, format: int64 }
        environment: { type: string, enum: [prod, demo] }
        status:
          { type: string, enum: [operational, degraded, partial_outage, major_outage, unknown] }
        exchange: { $ref: '#/components/schemas/ExchangeStatus' }
        endpoints:
          type: array
          items: { $ref: '#/components/schemas/EndpointProbe' }
        regions:
          type: array
          items: { $ref: '#/components/schemas/RegionProbe' }
        ws_sample: { $ref: '#/components/schemas/WsSample' }
